.tvShow-item {
    position: relative;
    display: block;
    border-radius: 5px;
    min-height: 325px;
    background-color: rgb(75, 73, 73);
    border: 1px solid grey;
    text-decoration: none;
    color: white;


    &-image {
        img {
            width: 100%;
            height: 300px;
            border-radius: 5px;
            object-fit: cover; 
        }
    }
    &-rating {
        position: absolute;
        display: flex;
        align-items: center;
        top: 10px;
        left: 10px;
        background-color: grey;
        border-radius: 5px;
        padding: 3px 6px;

        .material-icons {
            color: gold;
            font-size: 17px;
        }
    }
    &-title {
        // margin-left: 1rem;
        display: flex;
        padding-bottom: 5px;
        // justify-content: center;
        margin: 0.5rem;
        height: 35px;
        font-weight: bold;
    }
    
}