@import '../tv-shows/tv-shows.component.scss';


.poster {
    font-family: 'Ubuntu Mono', monospace;
    max-width: 100%;
}

.overview {
    font-family: 'Ubuntu Mono', monospace;
    line-height: 1.4rem;
}
h3  {
    font-family: 'Ubuntu Mono', monospace;
}

.stat {
    font-family: 'Ubuntu Mono', monospace;
    display: flex;
    margin-bottom: 15px;
    .label {
        width: 180px;
        font-weight: bold;
    }
    .value {
        color: #81c784;
        font-weight: bold;
        // font-style: italic;
    }
}

.actor {
    padding: 10px;
    img {
        width: 100%;
        // width: 180px;
        border-radius: 5px;
    }
    .act-name{
        // justify-content: center;
        text-align: center;
        margin: 10px;
    }
}