<ng-container  *ngIf="itemData">
    <!-- <pre>{{itemData | json}}sesh</pre> -->
    <a class="movie-item" [routerLink]="'/movie/'+itemData.id">
        <div class="movie-item-rating">
            <i class="material-icons">star</i>
            <span>{{itemData.vote_average}}</span>/10
        </div> 
        <div class="movie-item-image">
            <a href=""></a>
            <img [src]="'https://image.tmdb.org/t/p/'+imgSizes.small + itemData.poster_path">
        </div>
        <div class="movie-item-title">{{itemData.title}}</div>
    </a>
</ng-container>
